:root {
  --landing-bg-color: #1d1d1d;
  --top-bg-color: rgba(177, 182, 199, 0.7);

  --bottom-bg-color: rgba(74, 115, 254, 0.3);

  --speed: 700ms;
}

.Landing {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  background: var(--landing-bg-color);

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.split {
  position: absolute;
  height: 50vw;
  width: 100%;
  overflow: hidden;
}

.Landing-top {
  top: 0;
  background: url("https://images.unsplash.com/photo-1501876725168-00c445821c9e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2a1a9a1d07a8a1cb53aa3686da2ef497&auto=format&fit=crop&w=1350&q=80")
    center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 50px;

  transition: var(--speed) all ease-in-out;
  border-bottom: solid 2px black;
}

.top-active {
  width: 100%; /* Full width (cover the whole page) */
  height: 100vh; /* Full height (cover the whole page) */
  margin-bottom: -50px;
  background-color: rgba(3, 20, 36, 0.4); /* Black background with opacity */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.Landing-top.split:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--top-bg-color);
  transition: var(--speed) all ease-in-out;
}

.Landing-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;

  bottom: 0;
  background: url("https://images.unsplash.com/photo-1521783988139-89397d761dce?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=302ebe86b4b3bdd04509c0b303bf5e4a&auto=format&fit=crop&w=1225&q=80")
    center center no-repeat;
  background-size: cover;
  transition: var(--speed) all ease-in-out;
}

.Landing-bottom.split:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--bottom-bg-color);
  transition: var(--speed) all ease-in-out;
  border: solid black 5px;
}

.bottom-overlay {
  width: 100%; /* Full width (cover the whole page) */
  height: 100vh; /* Full height (cover the whole page) */
  margin-top: -50px;
  background-color: rgba(3, 20, 36, 0.4); /* Black background with opacity */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 7;
  opacity: none;

  position: relative;
  height: 30%;
  width: 60%;
}

.fixed-corner {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-left: 60px;

  z-index: 10;
  width: 100%;
  height: 15%;
}

.header-text {
  font-size: 5em;
  font-style: bold;
  font-family: "Rubik", sans-serif;
  color: white;
  margin-bottom: 3%;
}

.home-landing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-self: center;
  height: 100%;

  color: #031424;
  font-family: "Fredoka One";
  font-size: 5vh;
  opacity: none;
}

@media (max-width: 600px) {
  .header-text {
    font-size: 30px;
  }
  .fixed-corner {
    margin-left: 30px;
  }

}